@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
body {
  font-family: "Lato", sans-serif;
  
}
#upperbox {
  height: 30px;
  display: flex;
  justify-content: end;
  background-color: #eaeaea;
  
}
#upperbox > div {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-weight: 300;
  font-size: 15px;
 
}
#navbar {
  height: 110px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid black;
  margin:0px 0px;
  /* position: sticky; */
  /* position: fixed; */
  background-color: white;
  
}
#input {
  width: 80%;
  padding: 12px 10px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 100;
  /* position: fixed; */
 
}

#account , #cart {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  width: fit-content;
  padding: 8px 12px;
}
#account img , #cart img{
  width: 30px;
}
#account:hover , #cart:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  
}
#logo img{
   width: 75%;
}

#item{
    display: flex;
    width: fit-content;
    margin: auto;
    /* position: fixed; */
    background-color: white;
}
#item>div{
    padding: 10px 22px;
    font-weight: 300;
    font-size: 16px;
}
#item>div:hover{
    background-color: rgb(43, 42, 42);
    color: white;
  cursor: pointer;
  transition: .4s;
}
#publicity{
    display: flex;
    justify-content: center;
    gap:30px;
    background-color: #f3f0f0;
}
.pub{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    padding: 10px 0px;
    box-sizing: border-box;
    cursor: pointer;
    /* transition: .2s; */
}
.pub>div>img{
    width: 30px;
}
/* discount bar  */
#discount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    padding: 6px 0px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(49, 49, 49);
    color: white;

}
#discount:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .4s;

}